.Rproj.user
**.Rproj
.Rhistory
.RData
.Ruserdata

# Experimentation scripts
experiment*
db*

# Excalidraw drawings
ED*
**.excalidraw

#rsconnect files
rsconnect/**
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
