* {font-family: Lato, sans-serif;
}

#filter_words {
border-color: gray;
}

.date_button {
font-family: "Lato", sans-serif;
color: white;
background-color: #151759;
border-radius: 15%;
border-color: white;
}
.date_button:hover, .date_button:visited, .date_button:focus {
background-color: #151759;
filter: brightness(75%);
}
.date_button:active:focus, .date_button:active {
background-color: #151759;
filter: brightness(60%);
}

/* #active:focus classifies both, just active is not specific enough */

.header_row {
background-color: #c2c3f0;
color: white;
}

.header_title {
margin-top: -10px;
}

.mode_button {
font-weight: bold;
padding: 2px;
margin-top: 1%;
border: solid;
border-color: #c2c3f0;
border-radius: 10%;
}

.mode_button:hover {
background-color: #c2c3f0;
filter: brightness(85%);
}

.mode_button:active:focus, .mode_button:active {
background-color: #c2c3f0;
filter: brightness(80%);
}

.mode_button_active {
font-weight: bold;
padding: 2px;
margin-top: 1%;
background-color: #3639a2;
border-color: #3639a2;
border-radius: 10%;
}

.mode_button_active:visited, .mode_button_active:active, 
.mode_button_active:focus, .mode_button_active:hover,  
.mode_button_active:active:focus {
font-weight: bold;
padding: 2px;
margin-top: 1%;
background-color: #3639a2;
border-color: #3639a2;
border-radius: 10%;
}

/* When making mode_button pressed formatting, make a separate class
for when it's automatically pressed at app startup
possibly: filter: brightness(85%);*/

.filter_warning {
text-align: center;
margin-top: -3px;
margin-bottom: 3px;
width: 80%;
opacity: 0.8;
}