* {font-family: Lato, sans-serif;
}

#filter_words {
border-color: gray;
}

.date_button {
font-family: "Lato", sans-serif;
color: white;
background-color: #151759;
border-radius: 15%;
border-color: white;
}
.date_button:hover, .date_button:visited, .date_button:focus {
background-color: #151759;
filter: brightness(75%);
}
.date_button:active:focus, .date_button:active {
background-color: #151759;
filter: brightness(60%);
}

.header_row {
background-color: #c2c3f0;
margin-bottom: 5px;
margin-top: -10px;
}

.mode_button {
background-color: #c2c3f0;
color: black;
border: solid;
border-radius: 15%;
border-color: #151759
}

/* #active:focus classifies both, just active is not specific enough */
