/*Calendar buttons*/
.datepicker {
  display: flex;
}

/*Arrows*/
.increased-expenses {
  color: red;
}

.lowered-expenses {
  color: green;
}

#categories_filtered .checkbox-inline {
  margin-right:10px;
  margin-left:0px;
}

/*Active view button - monthly or daily*/
.active-btnview {
  border: darkblue 2px solid;
  border-radius: 7px;
}
