* {font-family: Lato, sans-serif;
}

/*Upload button*/
.sidebar .action-button.upload-btn.shiny-bound-input {
  width: 87%;
  margin-top: 10px;
}

/*Calendar buttons*/
.datepicker {
  display: flex;
}

/*Arrows*/
.increased-expenses {
  color: red;
}

.lowered-expenses {
  color: green;
}

#categories_filtered .checkbox-inline 
 {
  margin-right: 10px;
  margin-left: 0px;
}


#categories_filtered .checkbox-inline input
 {
  position: relative;
}

/* Text in line with checkbox */
.checkbox .shiny-input-checkbox.shiny-bound-input {
  position: relative;
}

/*Active view button - monthly or daily*/
.active-btnview {
  border: darkblue 2px solid;
  border-radius: 7px;
}

.active-btnview:hover, .active-btnview:active, .active-btnview:focus {
  border: darkblue 2px solid;
  border-radius: 7px;
}

/*Checkmark for displaying trend lines*/
.checkmark-trend {
  display: inline-block;
  margin-left: 15px;
}

/*Select trend duration*/
.trend-select {
  display: inline-block;
  margin-left: 1rem;
}

/*Ensure arrow doesn't overlap text*/
.trend-select .item {
  padding-right: 3rem;
}

/*FileInput button*/
.input-group-btn.input-group-prepend {
  display: inline;
}

/*Revolut section*/
.revolut-logo {
  height: 35px;
  margin-bottom: 1rem;
}

.revolut_info {
  margin-top: 1rem;
}


.space-divider {
  height: 10px;
  display: block;
}

/*Warning message in popup*/
.warn-user {
  color: red;
}

/*Information button*/
.help-container {
  /*content should be top right, vertically centered*/
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 50px;
}

.help-btn {
  display: flex;
  height: fit-content;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: 0.5em;
  background-color: #ecf0f5;
  border-radius: 30px;
  font-size: 16px;
}
