* {font-family: Lato, sans-serif;
}

/*Upload button*/
.sidebar .shiny-bound-input.action-button.upload-btn {
  width: 87%;
  margin-top: 10px;
}

/*Calendar buttons*/
.datepicker {
  display: flex;
}

/*Arrows*/
.increased-expenses {
  color: red;
}

.lowered-expenses {
  color: green;
}

#categories_filtered .checkbox-inline {
  margin-right: 10px;
  margin-left: 0px;
}

/*Active view button - monthly or daily*/
.active-btnview {
  border: darkblue 2px solid;
  border-radius: 7px;
}

.active-btnview:hover, .active-btnview:active, .active-btnview:focus {
  border: darkblue 2px solid;
  border-radius: 7px;
}

/*FileInput button*/
.input-group-btn.input-group-prepend{
  display: inline;
}

.space-divider {
  margin-top: 10px;
  display: block;
}

/*Warning message in popup*/
.warn-user {
  color: red;
}
